<form [formGroup]="classForm" (ngSubmit)="onSubmit()">

      <div class="d-flex flex-column gap-2">
        <label htmlFor="className">Class Name</label>
        <input
          type="text"
          class="form-input"
          id="className"
          formControlName="className"
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          classForm.get('className').invalid &&
          classForm.get('className').touched
        "
      >
      Class Name is required.
      </div>
  <button type="submit" class="btn btn-success my-2">Submit</button>
</form>
