.alert{
  margin-top: 5px;
  padding: 0;
  width: fit-content;
  height: 30px;
}
input{
  border-radius: 5px;
}

label{
  font-weight: 900;
}

.form-input, .form-input:focus, .form-input:hover{
  border: 2px solid #EAF3EE;
  outline: none;
}
