<header class="p-3 mb-3 border-b">
  <div class="container mx-auto">
    <nav class="flex flex-wrap items-center justify-between ">
      <a href="#!" class="flex items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="assets/logo/logo.png" alt="logo" width="60">
      </a>

      <ul class="flex flex-row justify-evenly">
        <!-- You can add the ngIf directive dynamically with Angular, Tailwind handles the styling -->
        <li ><a href="#!" class="nav-link px-2 link" routerLink="/admin">Admin Dashboard</a></li>
        <li ><a href="#!" class="nav-link px-2 link" routerLink="/teacher">Teacher Dashboard</a></li>
        <li><a href="#!" class="nav-link px-2 link">Customers</a></li>
        <li><a href="#!" class="nav-link px-2 link">Products</a></li>
      </ul>
      <img src="assets/logo/logo.png" alt="logo" width="60">
    </nav>
  </div>
</header>
