<section class="grid grid-cols-3 gap-3 mx-1">
  <div class="col-span-1 grid grid-cols-3 bg-green-600 rounded-lg h-[100px] shadow-lg shadow-[#65ba76] cursor-pointer"
    routerLink="/admin/teacher-list">
    <div class="col-span-2  text-white  font-bold font-serif p-4">
      <p class="text-4xl">Teacher</p>
    </div>
    <div class="col-span-1 text-white text-4xl p-6  drop-shadow-xl">
      <i class="fa-solid fa-user"></i>
    </div>
  </div>
  <div class="col-span-1 grid grid-cols-3 bg-green-600 rounded-lg h-[100px] shadow-lg shadow-[#65ba76] cursor-pointer"
    routerLink="/admin/fee-structure">
    <div class="col-span-2  text-white  font-bold font-serif p-4">
      <p class="text-4xl">Fee</p>
    </div>
    <div class="col-span-1 text-white text-4xl p-6  drop-shadow-xl">
      <i class="fa-solid fa-wallet"></i>
    </div>
  </div>
  <div class="col-span-1 grid grid-cols-3 bg-green-600 rounded-lg h-[100px] shadow-lg shadow-[#65ba76] cursor-pointer"
    routerLink="/teacher/dashboard">
    <div class="col-span-2  text-white  font-bold font-serif p-4">
      <p class="text-4xl">Teacher</p>
      <p class="text-3xl"> Dashboard</p>
    </div>
    <div class="col-span-1 text-white text-4xl p-6  drop-shadow-xl">
      <i class="fa-solid fa-desktop"></i>
    </div>
  </div>
</section>

