<div class="bg-white px-4 py-5 min-h-screen md:px-6 lg:px-8 overflow-y-auto">
  <section class="grid grid-cols-4 gap-x-4 gap-y-6">
    <div class="col-span-4 md:col-span-2 lg:col-span-1 surface-card shadow-2 p-3 border-round bg-pink10 text-white">
      <div class="flex justify-between items-center mb-3">
        <i class="pi pi-shopping-cart text-3xl"></i>
        <div>
          <span class="block text-2xl font-bold mb-1">40K</span>
          <span class="text-sm">Total Students</span>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span>
      <span class="text-gray-300">this month</span>
    </div>
    <div class="col-span-4 md:col-span-2 lg:col-span-1 surface-card shadow-2 p-3 border-round bg-pink6 text-white">
      <div class="flex justify-between items-center mb-3">
        <i class="pi pi-map-marker text-3xl"></i>
        <div>
          <span class="block text-2xl font-bold mb-1">$2.100</span>
          <span class="text-sm">Daily Revenue</span>
        </div>
      </div>
      <span class="text-green-500 font-medium">%52+ </span>
      <span class="text-gray-300">since last week</span>
    </div>
    <div class="col-span-4 md:col-span-2 lg:col-span-1 surface-card shadow-2 p-3 border-round bg-pink8 text-white">
      <div class="flex justify-between items-center mb-3">
        <i class="pi pi-inbox text-3xl"></i>
        <div>
          <span class="block text-2xl font-bold mb-1">28441</span>
          <span class="text-sm">Registration</span>
        </div>
      </div>
      <span class="text-green-500 font-medium">520 </span>
      <span class="text-gray-300">newly registered</span>
    </div>
    <div class="col-span-4 md:col-span-2 lg:col-span-1 surface-card shadow-2 p-3 border-round bg-pink10 text-white">
      <div class="flex justify-between items-center mb-3">
        <i class="pi pi-comment text-3xl"></i>
        <div>
          <span class="block text-2xl font-bold mb-1">152 Unread</span>
          <span class="text-sm">Comments</span>
        </div>
      </div>
      <span class="text-green-500 font-medium">85 </span>
      <span class="text-gray-300">responded</span>
    </div>
  </section>
  <!-- End of Analytics -->

  <!-- Divider -->
  <div class="divider my-4 mx-auto md:px-6 h-1 bg-grn-p-one"></div>
  <div class="my-4 mx-auto md:px-6">
    </div>
  <!-- Divider -->


  <!----------------------- Cards ------------------------->
  <div class="grid grid-cols-4 gap-2">
    <div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
      <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
        Teachers
      </h5>
      <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
      <img src="assets/admin_icons/teacher2.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
      <div class="flex items-center justify-center">
      <button
        type="button"
        class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        data-te-ripple-init
        data-te-ripple-color="light" routerLink='/admin/teacher-list'>
        Manage Teachers</button>
      </div>
      </div>

  <div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
    <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
      Students
    </h5>
    <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
    <img src="assets/admin_icons/students.png" alt="Students" class="mx-auto mb-2 w-16 h-16">
    <div class="flex items-center justify-center">
    <button
      type="button"
      class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      data-te-ripple-init
      data-te-ripple-color="light"routerLink='/teacher/student-list'
    >
      Manage Students
    </button>
    </div>
</div>

<div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
  <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
    Exams & Results
  </h5>
  <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
  <img src="assets/admin_icons/docs-cert.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
  <div class="flex items-center justify-center">
  <button
    type="button"
    class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"
  >
    Manage Reports
  </button>
</div>
</div>

<div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
  <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
    Revenue
  </h5>
  <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
  <img src="assets/admin_icons/teacher2.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
  <div class="flex items-center justify-center">
  <button
    type="button"
    class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"routerLink='/admin/fee-structure'
  >
    Manage Dues
  </button>
</div>
</div>
</div>
</div>



