<section class="text-white font-bold font-mono grid grid-cols-3 gap-3 mx-1">
  <div class="col-span-3 md:col-span-1 grid grid-cols-3  bg-grn-p-ten rounded-lg h-[100px] shadow-sm hover:shadow-2xl shadow-[#65ba76] cursor-pointer "
    routerLink="/admin/teacher-list">
    <div class="col-span-2 p-4">
      <p class="text-4xl drop-shadow-xl">Teacher</p>
    </div>
    <div class="col-span-1 text-white text-6xl drop-shadow-2xl">
      <i class="fa-solid fa-user p-5  drop-shadow-2xl"></i>
    </div>
  </div>
  <div class="col-span-3 md:col-span-1 grid grid-cols-3 bg-grn-p-ten rounded-lg h-[100px] shadow-sm hover:shadow-2xl shadow-[#65ba76] cursor-pointer"
    routerLink="/admin/fee-structure">
    <div class="col-span-2 p-4">
      <p class="text-4xl">Fee</p>
    </div>
    <div class="col-span-1 text-6xl ">
      <i class="fa-solid fa-wallet  p-5 drop-shadow-2xl"></i>
    </div>
  </div>
  <div class="col-span-3 md:col-span-1 grid grid-cols-3 bg-grn-p-ten rounded-lg h-[100px] shadow-sm hover:shadow-2xl shadow-[#65ba76] cursor-pointer"
    routerLink="/teacher/dashboard">
    <div class="col-span-2    p-4">
      <p class="text-4xl">Teacher</p>
      <p class="text-3xl"> Dashboard</p>
    </div>
    <div class="col-span-1 text-6xl ">
      <i class="fa-solid fa-desktop p-5 drop-shadow-xl"></i>
    </div>
  </div>
</section>

