<section id="teacher-list" class=" p-2">
  <p-toast position="bottom-right"></p-toast>
  <div class="flex justify-center">
    <p-toast position="bottom-right" ></p-toast>
    <p-table
    class=" rounded-xl shadow-md shadow-white"
    #dt
    [value]="fees"
    dataKey="feeId"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Fees"
    [filterDelay]="0"
    [globalFilterFields]="[
      'feeId',
      'amount',
      'tag'
    ]"
    >
    <ng-template pTemplate="caption">
      <div class="table-header">
        Fee Structure
        <span class="p-input-icon-left mx-3">
          <input
            type="text"
            (input)="dt.filterGlobal($event.target['value'], 'contains')"
            placeholder="Global Search"
          />
        </span>

        <button type="button" class="bg-green-400 py-2 px-4 rounded-lg shadow-md shadow-white" (click)="addFee()">
          <i class="fa-solid fa-plus"></i>
          New
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="feeId" >
          <div class="flex justify-between items-center">
            Id
            <p-sortIcon field="feeId"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="feeId"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="amount" >
          <div class="flex justify-between items-center">
            Amount
            <p-sortIcon field="amount"></p-sortIcon>
            <p-columnFilter
              type="number"
              field="amount"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="tag" >
          <div class="flex justify-between items-center">
            Tag
            <p-sortIcon field="tag"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="tag"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th ></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fee>
      <tr class="p-selectable-row">
        <td>
          {{ fee.feeId }}
        </td>
        <td>
          {{ fee.amount }}
        </td>
        <td>
          {{ fee.tag }}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="updateFee(fee)"
          >
          <i class="fa-solid fa-pen-to-square"></i> Edit
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No Fee Found.</td>
      </tr>
    </ng-template>
    </p-table>
  </div>


  <p-dialog [(visible)]="editDialog" header="Edit Fee" [modal]="true" styleClass="dialog-style">
    <ng-template pTemplate="body">
      <form #editForm="ngForm" (ngSubmit)="editSubmit()">

            <div class="flex flex-col gap-2">
              <label htmlFor="amount" class="text-xl text-black">Amount</label>
              <input type="number" class="form-input" id="amount" name="amount" #amount="ngModel"
                aria-describedby="amount-help" [(ngModel)]="fee.amount" required="true" />
            </div>
            <ng-container *ngIf="amount.touched && amount.invalid && amount.value === ''">
              <div class="alert alert-danger" role="alert">
                Amount is required.
              </div>
            </ng-container>
            <div class="flex flex-col gap-2">
              <label htmlFor="tag" class="text-xl text-black">Teacher Name</label>
              <input type="text" class="form-input" id="tag" name="tag" #tag="ngModel"
                aria-describedby="tag-help" [(ngModel)]="fee.tag" required="true" />
            </div>
            <ng-container *ngIf="tag.touched && tag.invalid && tag.value === ''">
              <div class="alert alert-danger" role="alert">
                Teacher Name is required.
              </div>
            </ng-container>
        <button class="btn btn-success my-2" type="submit" (click)="editSubmit()">
          <i class="fa-solid fa-pen-to-square"></i>
          Update
        </button>
      </form>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="addDialog" header="Add Fee" [modal]="true" styleClass="dialog-style"
>
    <ng-template pTemplate="body">
      <form [formGroup]="feeForm" (ngSubmit)="onSubmit()">

        <div class="flex flex-col gap-2">
          <label htmlFor="amount" class="text-black text-xl">Amount</label>
          <input type="number" class="form-input" id="amount" formControlName="amount"
            placeholder="1000" />
        </div>
        <div class="text-red-600" *ngIf="
          feeForm.get('amount').invalid &&
          feeForm.get('amount').touched
        ">
          Amount is required.
        </div>
        <div class="flex flex-col gap-2">
          <label htmlFor="tag" class="text-black text-xl">Tag</label>
          <input type="text" class="form-input" id="tag" formControlName="tag"
            placeholder="Primary" />
        </div>
        <div class="text-red-600" *ngIf="
          feeForm.get('tag').invalid &&
          feeForm.get('tag').touched
        ">
          Tag is required.
        </div>

        <button type="submit" class="bg-green-700 text-white font-extrabold font-serif rounded-lg shadow-md shadow-green-600 hover:border-2 hover:border-green-700 hover:bg-white hover:text-green-700 m-4 p-2 ">Submit</button>
      </form>

    </ng-template>
  </p-dialog>
</section>
