<section
  class="min-h-screen bg-[url('assets\jpg\Schoolview.jpg')] bg-no-repeat bg-cover bg-center brightness-50">
</section>
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[10000] bg-white bg-opacity-30 backdrop-blur-md p-5">
  <h1 class="text-7xl text-light-green p-10">MSNS</h1>
  <h1 class="text-black bg-white">height</h1>
  <form class="flex flex-col p-5 h-">
    <div class="form-group m-[10px] p-[10px]">
      <input type="text" name="" id="">
    </div>
    <div class="form-group m-2 p-2">
      <input type="text" name="" id="">
    </div>
    <button type="submit" class="text-black bg-white px-5" routerLink="/admin">adsfasd</button>
  </form>
</div>
