<div class="bg-white px-4 py-5 min-h-screen md:px-6 lg:px-8 overflow-y-auto">
  <!----------------------- Cards ------------------------->
  <div class="grid grid-cols-4 gap-2">
    <div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
      <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
        Teachers
      </h5>
      <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
      <img src="assets/admin_icons/teacher2.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
      <div class="flex items-center justify-center">
      <button
        type="button"
        class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        data-te-ripple-init
        data-te-ripple-color="light" routerLink='/admin/teacher-list'>
        Manage Teachers</button>
      </div>
      </div>

  <div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
    <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
      Students
    </h5>
    <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
    <img src="assets/admin_icons/students.png" alt="Students" class="mx-auto mb-2 w-16 h-16">
    <div class="flex items-center justify-center">
    <button
      type="button"
      class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      data-te-ripple-init
      data-te-ripple-color="light"routerLink='/teacher/student-list'
    >
      Manage Students
    </button>
    </div>
</div>

<div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
  <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
    Exams & Results
  </h5>
  <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
  <img src="assets/admin_icons/docs-cert.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
  <div class="flex items-center justify-center">
  <button
    type="button"
    class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"
  >
    Manage Reports
  </button>
</div>
</div>

<div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
  <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
    Revenue
  </h5>
  <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
  <img src="assets/admin_icons/teacher2.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
  <div class="flex items-center justify-center">
  <button
    type="button"
    class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"routerLink='/admin/fee-structure'
  >
    Manage Dues
  </button>
</div>
</div>

<div class="col-span-4 md:col-span-2 lg:col-span-1 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-green-800 justify-center items-center">
  <h5 class="mb-4 text-xl font-extrabold leading-tight text-yellow10 text-center">
    Courses
  </h5>
  <hr class="mb-4 w-full border-black border-opacity-20 dark:border-white dark:border-opacity-20">
  <img src="assets/admin_icons/teacher2.png" alt="Teachers" class="mx-auto mb-2 w-16 h-16">
  <div class="flex items-center justify-center">
  <button
    type="button"
    class="inline-block rounded bg-pink10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"routerLink='/admin/fee-structure'
  >
    Manage Subjects
  </button>
</div>
</div>
</div>

  <!-- Divider -->
  <div class="divider my-4 mx-auto md:px-6 h-1 bg-grn-p-one"></div>
  <div class="my-4 mx-auto md:px-6">
    </div>
  <!-- Divider -->


</div>
