<section class="h-screen bg-[url('assets\jpg\Schoolview.jpg')] bg-no-repeat bg-cover bg-center brightness-50"></section>
<div class="absolute top-1/2 left-1/2 transform transition-transform hover:scale-105 -translate-x-1/2 -translate-y-1/2 z-[10000] bg-green-200 bg-opacity-30 backdrop-blur-md p-10 h-fit">
<div class="mx-auto flex just align-content-center md:min-h-0">
    <div class="max-w-md text-center space-y-6">
      <img src="\assets\logo\off_logo.png" alt="Logo" class="h-18 w-20 2xl:h-fit 2xl:w-fit">
      <h2 class="mb-2 text-5xl font-bold leading-none text-yellow10 md:text-7xl">
        Admissions Open!
      </h2>
      <h4 class="text-lg font-sans text-black">
        Verify your Credentials to get registered with MSNS®
      </h4>
      <p class="text-2xl font-bold text-grn-p-three">
        MSNS-LMS® registration Portal.
      </p>
      <a
        routerLink="/admin/dashboard"
        class="inline-block rounded-lg bg-bg-grn6 mx-2 px-8 py-3 text-center text-base font-bold text-white transition hover:bg-primary-light hover:text-purple-950"
      >
        About School
      </a>
      <a
      routerLink="/admin/registration"
      class="inline-block rounded-lg bg-bg-grn6 mx-2 px-8 py-3 text-center text-base font-bold text-white transition hover:bg-primary-light hover:text-purple-950"
    >
      Enroll Now
    </a>
    </div>
  </div>
</div>
