<section class="h-screen bg-[url('assets\jpg\Schoolview.jpg')] bg-no-repeat bg-cover bg-center brightness-50"></section>
<div class="absolute top-1/2 left-1/2 transform transition-transform hover:scale-105 -translate-x-1/2 -translate-y-1/2 z-[10000] bg-green-200 bg-opacity-30 backdrop-blur-md p-10 h-fit">
<div class="mx-auto flex just align-content-center md:min-h-0">
    <div class="max-w-md text-center space-y-8">
      <h2 class="mb-2 text-5xl font-bold leading-none text-yellow10 md:text-7xl">
        ERROR 403!
      </h2>
      <h4 class="text-2xl font-semibold leading-tight text-gray-950">
        Oops! This Page is not yet Completed.
      </h4>
      <p class="text-lg text-grn-p-three">
        STAY TUNED with MSNS-LMS®.
      </p>
      <a
        routerLink="/admin/dashboard"
        class="inline-block rounded-lg bg-bg-grn6 px-8 py-3 text-center text-base font-semibold text-white transition hover:bg-primary-light hover:text-purple-950"
      >
        I UNDERSTAND
      </a>
    </div>
  </div>
</div>
