<div class="flex flex-col bg-slate-400 sticky top-0 rounded-lg mx-1">
  <a href="/!" class="flex align-items-center text-black p-4 ">
    <img class="rounded-md" src="assets/logo/header_logo.png" width="40" height="32" alt="msns_logo">

    <span class="text-2xl font-bold font-serif px-2">MSNS</span>
  </a>

  <hr>
  <ul class="flex flex-col p-4">
    <li routerLink="/admin/dashboard" routerLinkActive="active"
      class="p-2 text-black font-serif bg-white rounded-lg m-1 nav-link link cursor-pointer">
      <i class="fa-solid fa-cubes"></i>
      Dashboard
    </li>
    <li routerLink="/admin/teacher-list" routerLinkActive="active"
      class="p-2 text-black font-serif bg-white rounded-lg nav-link link m-1 cursor-pointer">
      <i class="fa-solid fa-person-chalkboard"></i>
      Teachers List
    </li>
    <li routerLink="/admin/fee-structure" routerLinkActive="active"
      class="p-2 text-black font-serif bg-white rounded-lg nav-link link m-1 cursor-pointer">
      <i class="fa-solid fa-rupee-sign"></i>
      Fee Structure
    </li>
  </ul>
  <hr>

</div>
