<div class="d-flex flex-column flex-shrink-0 p-3 bg-light height sticky">
  <a href="/!" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
    <img src="assets/logo/header_logo.png" width="40" height="32" alt="msns_logo">

    <span class="fs-4 fw-bold px-2">MSNS</span>
  </a>

<hr>
<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link link ">
      <i class="fa-solid fa-cubes"></i>
      Dashboard
    </a>
  </li>
  <li>
    <a routerLink="/admin/teacher-list" routerLinkActive="active" class="nav-link link ">
      <i class="fa-solid fa-person-chalkboard"></i>
      Teachers List
    </a>
  </li>
  <li>
    <a routerLink="/admin/fee-structure" routerLinkActive="active" class="nav-link link ">
      <i class="fa-solid fa-rupee-sign"></i>
      Fee Structure
    </a>
  </li>
</ul>
<hr>
<div class="dropdown">
  <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="data:image/jpeg; base64,{{image}}" alt="mdo" width="32" height="32" class="rounded-circle me-2">
    <strong>mdo</strong>
  </a>
  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
    <li><a class="dropdown-item" href="#">New project...</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>
</div>
</div>
