<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-g-ag1 py-2 text-white shadow-lg hover:text-yellow10 focus:text-gray-950 dark:bg-g-ag5 lg:py-2"
>
  <div class="flex w-full flex-wrap items-center justify-between px-2">
    <!-- Left elements -->
    <div class="flex items-center">
      <div class="relative w-12 h-12 ml-4">
        <img
          src="assets/logo/logo.png"
          alt="MSNS-LMS"
          class="transition-transform transform hover:scale-125">
      </div>
      <div class="ml-16 text-green-950 font-serif text-4xl transition-transform transform hover:scale-95">M.S.N.S | LMS</div>
    </div>
<!--------------------------------------------- -->



    <!-- Right elements -->

<!--------------------------------------------- -->
  </div>
</nav>
