<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-grn-p-one py-2 text-white shadow-lg hover:text-yellow10 focus:text-white dark:bg-grn-p-one lg:py-2"
>
  <div class="relative flex w-full flex-wrap items-center justify-between px-4">
    <!-- Left elements -->
    <div class="flex items-center">
      <div class="relative w-16 h-16 m-4">
        <img
          src="assets/logo/logo-white.png"
          alt="MSNS-LMS"
          class="transition-transform transform hover:scale-125 hover:yellow10">
      </div>
      <div class="m-5 items-center text-white shadow-lg hover:text-yellow10 font-serif text-4xl transition-transform transform hover:scale-105">| M.S.N.S | LMS |</div>
    </div>
<!--------------------------------------------- -->
                <!-- Right elements -->



<!--------------------------------------------- -->
  </div>
</nav>
