<nav class="bg-gradient-to-r from-g-ag5 via-bg-grn4 to-grn-p-one p-2 sticky top-0 z-50">
  <div class="container  flex justify-between items-center">
    <!-- Logo and Site Title (Centered and Clickable) -->
    <a href="#" class="flex items-center relative logo-container">
      <div class="flex items-center">
        <img src="assets/logo/off_logo.png" alt="MSNS" class="h-6 w-6 mr-4  md:h-12 md:w-12 md:mr-10 logo-image">
        <h1 class="text-stroke text-grn-p-one text-base md:text-3xl font-serif logo-text">MSNS | LMS</h1>
      </div>
    </a>


    <!-- Desktop Menu -->
    <div class="flex gap-6 px-4 text-white text-base  md:text-xl font-semibold font-sans">
      <a [routerLink]="['/admin/dashboard']" class="menu-link">Dashboard</a>
      <a [routerLink]="['/teacher/dashboard']" class="menu-link">Alumni</a>
      <a [routerLink]="['/teacher/student-list']" class="menu-link">Students</a>
      <a [routerLink]="['/admin/about']" class="menu-link">About</a>
    </div>

    <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end">
        <!-- Second dropdown trigger -->
        <a
          class="arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
          href="#"
          id="dropdownMenuButton2"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false">
          <!-- User avatar -->
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
            class="rounded-full"
            style="height: 25px; width: 25px"
            alt=""
            loading="lazy" />
        </a>
        <!-- Second dropdown menu -->
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
          aria-labelledby="dropdownMenuButton2"
          data-te-dropdown-menu-ref>
          <!-- Second dropdown menu items -->
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Another action</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Something else here</a
            >
          </li>
        </ul>
      </div>
  </div>
</nav>

