
::ng-deep .p-datatable .p-datatable-thead > tr > th{
  background-color: #EAF3EE;
}
input{
  border-radius: 5px;
}

label{
  font-weight: 900;
}

.form-input, .form-input:focus, .form-input:hover{
  border: 2px solid #EAF3EE;
  outline: none;
}

.btn-add{
  color:#fff;
  border:2px solid #fff;
}
.alert{
  padding: 0;
  width: fit-content;
  height: 30px;
}

.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid #007437;
  font-size: 14px;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid #007437;
  box-shadow: -5px -5px 0px #007437;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
