<div class="flex bg-bg-light5 shadow-md py-2 px-4 items-center justify-between">
  <h1 class="text-2xl font-bold text-gray-800">Manage Academics & Courses</h1>
  <div class="hidden md:flex space-x-2">
    <button
    type="button"
    class="inline-block rounded bg-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-pink6 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    data-te-ripple-init
    data-te-ripple-color="light"routerLink='/admin/empreg'
  >
    Add Teacher
  </button>
  <button
  type="button"
  class="inline-block rounded bg-bg-grn9 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-pink6 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
  data-te-ripple-init
  data-te-ripple-color="light"routerLink='/admin/empreg'
>
  Edit Credentials
</button>
<button
type="button"
class="inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-pink6 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
data-te-ripple-init
data-te-ripple-color="light"routerLink='/admin/empreg'
>
Delete
</button>
  </div>
  <button
type="button"
class="inline-block rounded bg-green-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-pink6 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
data-te-ripple-init
data-te-ripple-color="light"routerLink='/admin/empreg'
>
Save
</button>
</div>
<div class="overflow-hidden rounded-lg shadow bg-white dark:bg-neutral-700">
  <div class="flex items-center p-4 border-b border-neutral-200 dark:border-neutral-600">
    <div class="flex flex-grow mr-4">
      <label for="inputSearch" class="sr-only">Search </label>
      <input id="inputSearch" type="text" placeholder="Search..." class="w-full rounded-lg border border-neutral-300 dark:border-neutral-600 py-2 pl-10 pr-4 text-sm focus:outline-none focus:ring-1 focus:ring-blue-500">
      <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 transform">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-neutral-500 dark:text-neutral-200">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </span>
    </div>
    <div class="hidden sm:block">
      <label for="inputFilter" class="sr-only">Filter list</label>
      <select id="inputFilter" class="w-40 rounded-lg border border-neutral-300 dark:border-neutral-600 p-2 text-sm focus:outline-none focus:ring-1 focus:ring-blue-500">
        <option value="1" selected>Last week</option>
        <option value="2">Last month</option>
        <option value="3">Yesterday</option>
        <option value="4">Last 7 days</option>
        <option value="5">Last 30 days</option>
      </select>
    </div>
  </div>

  <div class="overflow-x-auto max-h-[400px]">
    <table class="min-w-full text-left text-lg whitespace-nowrap">
      <thead>
        <tr class="bg-gray-50 dark:bg-bg-grn2">
          <th scope="col" class="px-6 py-4 font-normal text-left border-b border-neutral-200 dark:border-neutral-600">
            ID
          </th>
          <th scope="col" class="px-6 py-4 font-normal text-left border-b border-neutral-200 dark:border-neutral-600">
            Student Name
          </th>
          <th scope="col" class="px-6 py-4 font-normal text-left border-b border-neutral-200 dark:border-neutral-600">
            S/D/O
          </th>
          <th scope="col" class="px-6 py-4 font-normal text-left border-b border-neutral-200 dark:border-neutral-600">
            B-FORM #
          </th>
          <th scope="col" class="px-6 py-4 font-normal text-left border-b border-neutral-200 dark:border-neutral-600">
            Father CNIC
          </th>
        <th scope="col" class="px-6 py-4 font-medium text-left border-b border-neutral-200 dark:border-neutral-600">
          Gender
        </th>
          <th scope="col" class="px-6 py-4 font-medium text-left border-b border-neutral-200 dark:border-neutral-600">
            Phone #
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-left border-b border-neutral-200 dark:border-neutral-600">
            Address
          </th>
        </tr>

      </thead>
      <tbody>
        <tr class="bg-gray-50 dark:bg-bg-hue8">
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">1</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">John Doe</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">Mr. Smith</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">123456</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">12345-1234567-8</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">Male</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">+1234567890</td>
          <td class="px-6 py-4 text-left border-b border-neutral-200 dark:border-neutral-600">123 Street, Anytown, USA</td>
        </tr>
      </tbody>
    </table>
  </div>
