/* sidebar.component.css */



.sidebar ul li a:hover {
  background-color: #cdbd5e; /* Change to your desired hover background color */
  color: #1E293B; /* Change to your desired hover text color */
}

.sidebar ul li a.bg-primary-500 {
  background-color: #F59E0B; /* Change to your primary background color */
  color: white;
}

.active{
  background-color: #F59E0B; ;
}
